.filter-option {
  width: 80px;
  height: 80px;
  //border: 1px solid var(--ion-color-secondary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  p {
    font-size: 1.3em;
    font-weight: bold;
    color: var(--ion-color-secondary);
  }
  &:hover {
    background-color: var(--ion-color-secondary);
    cursor: pointer;
    p {
      color: #fff;
    }
  }
  ion-img {
    width: fit-content;
  }
}

.active {
  background-color: var(--ion-color-secondary);
  p {
    color: #fff;
  }
}
