.grid-products {
  display: flex;
  flex-wrap: wrap;

  .product {
    width: 50%;
  }
}

.filters-container {
  display: flex;
  margin: 20px 25px;
  //overflow-x: scroll;
  justify-content: space-between;
}
