<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p>---</p>
  <app-item-filter></app-item-filter>
  <p>---</p>

  <section class="grid-products">
    <section *ngFor="let product of products" class="product">
      <ion-card>
        <ion-card-header>
          <ion-img [src]="urlStorage + product.image"></ion-img>
          <ion-card-title>{{product.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{product.description}}
          <h4>$ {{product.price}}</h4>
        </ion-card-content>
      </ion-card>
    </section>
  </section>

</ion-content>
