.header-form {
  font-size: 1.95em;
  font-weight: bold;
  text-align: center;
}
.form-container {
  border: 1px solid #f2f2f2;
  padding: 30px 15px;
  border-radius: 20px;
  box-shadow: 1px 1px 1px #ccc;
}

.logo-app {
  display: flex;
  ion-img {
    width: 240px;
    justify-content: center;
    align-items: center;
  }
}
